:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-conteiner {
  width: 400px;
  border: solid 1px;
  margin: 20px;
  padding: 15px;
  background: #8a8a8a;
  color: #ffffff;
}

button {
  background: #ebebeb;
  color: #3b3b3b;
  border: none;
  width: 30%;
  height: 40px;
  outline: none;
}

.button-edit {
  display: flex;
  justify-content: center;
}