header {
    height: 15vh;
    background: #8a8a8a;
}

li {
    list-style: none;
    display: flex;
    align-items:center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 100%;
}





footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    background: #8a8a8a;
    color: #ffffff;
}